
.container {
    width: auto;
    height: auto;
  }
  
  .icon {
    width: 16px;
    height: 16px;
    
  }
  
  .button {
    width: 20px;
    height: 20px;
    
  }
  
  .voting {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  
  .UpVote {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .DownVote {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    
  }