.container {
    margin:auto;
    padding: 0px;
    font-size: 30px;
    display: inline;
  }

.title {
    font-weight: bold;
    font-size: x-large;
    padding-left: 20px;
    color: white; 
}

.subtitle {
    font-style: italic;
    font-size: large;
    color: white;
}

.total-votes {
    font-style: normal;
    font-size: large;
    color: white;

}