.header {
    margin:auto;
    padding: 20px;
    float: right;
    font-size: 30px;
    display: inline;
  }

.title {
    font-weight: bold;
    font-size: x-large;
    padding-left: 20px;
    
}

.subtitle {
    font-style: italic;
    font-size: large;
}

.total-votes {
    font-style: normal;
    font-size: large;

}