.container-list {
    width: auto;
    height: auto;
    margin-left: 20px;
    padding-left: 15px;

}

.icon {
    width: 16px;
    height: 16px;
    
}

.button {
    width: 15px;
    height: 15px;
    padding-left: 10px;
    
}