.row {
    width: auto;
    height: auto;
  }
  
  .button {
    width: 35px;
    height: 35px;
    background-color: black;
  }
  
  .UpVote {
    width: 30px;
    height: 30px;
    padding: 3px;
    position:relative;
  }
  
  .DownVote {
    width: 20px;
    height: 20px;
    padding: 2px;
    
  }
  .span.quote-text {
    flex-wrap: nowrap;
  }